<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- இன்டர்நெட் அனுமதியை சேர்க்கவும் -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:label="pmp_web_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        ...
    </application>
</manifest>
